<div class="query-results">
  <% @result.each do |web| %>
    <div>
      <p>
        <%= link_to web.title, web.uri %><br />
        <%= web.content.html_safe %>  
      </p>
    </div> 
  <% end %>
</div>
