<div id="recent-searches">
  <%= link_to "Recent Searches", @list %>
</div>

<div class="middle-content">
  <% @result.each do |web| %>
    <div>
      <p>
        <span class="result-title"> <%= link_to web.title, web.uri %></span><br />
        <%= web.content.html_safe %><br />
        <span class="result-uri"><%= link_to web.uri, web.uri %></span>
      </p>
    </div> 
  <% end %>
</div>
