<div class="results clearfix">
  <%= render 'search/result_divs' %>
  <div class="ajax-load-wrapper">
    <%= image_tag("ajax-loader.gif", class: "ajax-load", style: "display: none;") %>
  </div>
  <div class="next-page" style="display: none;">
    <%= @nextURI %>
  </div>
</div>
