<h1>Listing search_lists</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search_lists.each do |search_list| %>
  <tr>
    <td><%= link_to 'Show', search_list %></td>
    <td><%= link_to 'Edit', edit_search_list_path(search_list) %></td>
    <td><%= link_to 'Destroy', search_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search list', new_search_list_path %>
