<p id="notice"><%= notice %></p>

<div class="middle-content clearfix">
  <h2>Recent search terms</h2>
  <% @search_list.search_items.each do |item| %>
    <ul>
      <li>
      <%= link_to item.query, search_path + "?q=#{item.query}", class: "search-keyword" %>
      </li>
    </ul>
  <% end %>
</div>
