/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* Sassy CSS Variables */
$gradientStart: #FF0000;
$gradientEnd: #6F0404;
$offWhite: #F1F1F1;

#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid black;
  z-index: 1;

  /* Gradient */
  background: -webkit-gradient(linear, left top, left bottom, from($gradientStart), to($gradientEnd));
  background: -moz-linear-gradient(top, $gradientStart, $gradientEnd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#6F0404');  

}

#right-nav-menu-wrapper {
  width: 100%;
  position: fixed;
}

#right-nav-menu {
  width: 200px;
  margin: 0px auto;
  position: relative;
  left: 450px;

  a {
    text-decoration: none;
    color: #7481cc;
    font-weight: bold;
  }

  a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

.page {
  background: $offWhite;

  /* Font Formatting */
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-style: normal;
  font-variant: normal;
}

.middle-content {
  width: 600px;
  margin: 0px auto;
}

.centered {
  width: 100%;
}

#main {
  /* Give enough space above for the banner */
  margin-top: 60px;
}

#logo {
  margin-top: -150px;
  z-index: -10;
}

.picture {
  margin-left: 230px;
  margin-bottom: -50px;
}

.index-page-search-bar {
  margin-top: 19em;
  z-index: 10;
} 

.top-search-bar {
  position: fixed;
  width: 100%;
  top: 2px;
  z-index: 5;
}

.search-wrapper {
  width: 250px;
  margin: 0px auto;
 .text-field {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #000000;
    width: 250px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }    

  .button {
  }

}

.clearfix {
  clear: both;
}
