// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$offWhite: #F1F1F1;

.search {

  #right-nav-menu-wrapper {
    width: 100%;
    position: fixed;
  }

  #right-nav-menu {
    width: 200px;
    margin: 0px auto;
    position: relative;
    left: 450px;

    a {
      text-decoration: none;
      color: #F67F00;
      font-weight: bold;
    }
    
    a:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
 
  .result-div {
    position: relative;
    max-width: 610px;
    margin: 0px auto;

    .content {
      .result-title {
        font-size: 18px;
        a {
          color: #2C5EB5;
          text-decoration: none;
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }

      .result-uri {
        a {
          text-decoration: none;
          color: #F67F00;
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }

    } /* End .content */

    .delete-image {
      position:absolute;
      top: 0px;
      left: -25px;
      cursor: pointer;
    }

    .check-image {
      position: absolute;
      left: -25px;
      cursor: pointer;
    }

  } /* End .result-div */

} /* End .search */
