
// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$offWhite: #F1F1F1;

.search {
 	border: 1px solid #FF000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  .result-div {
    position: relative;
    max-width: 610px;
    margin: 0px auto;
    

    .content {
     
      em {
        font-style: normal;
        font-weight: bold;
      }
      .result-title {
        font-size: 18px;
        a {
          color: #4F9BDE;
          text-decoration: none;
	  &:visited {
	    color: #C9C9C9;
	  }
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
        
      }

      .result-uri {
        a {
          text-decoration: none;
          color: #BA763A;
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }

    } /* End .content */

    .delete-image {
      position:absolute;
      top: 9px;
      left: 590px;
      cursor: pointer;
      z-index:2;
    }

    .check-image {
      position: absolute;
      top: -10px;
      left: 591px;
      cursor: pointer;
      z-index:3;
    }

    .rtab-image {
      position:absolute;
      top: -7px;
      left: -12px;
      z-index:-1;
    }

  } /* End .result-div */

  .ajax-load-wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: center;

    .ajax-load {
      position: fixed;
      bottom: 0px;
    }
  }

} /* End .search */
