
// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$offWhite: #F1F1F1;

.search {
  .result-div {
    position: relative;
    max-width: 610px;
    margin: 0px auto;

    .content {
      em {
        font-style: normal;
        font-weight: bold;
      }
      .result-title {
        font-size: 18px;
        a {
          color: #2C5EB5;
          text-decoration: none;
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }

      .result-uri {
        a {
          text-decoration: none;
          color: #F67F00;
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }

    } /* End .content */

    .delete-image {
      position:absolute;
      top: 0px;
      left: -25px;
      cursor: pointer;
    }

    .check-image {
      position: absolute;
      left: -25px;
      cursor: pointer;
    }

  } /* End .result-div */

  .ajax-load-wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: center;

    .ajax-load {
      position: fixed;
      bottom: 0px;
    }
  }

} /* End .search */
